$main-color: #203647;
$sub-color: #045a90 ;
$Yellow-certificate-color : rgb(255, 247, 8);
$Blue-certificate-color : rgb(0, 92, 230);
$Area-certificate-color : rgb(31, 120, 180);
$Box-certificate-color : rgb(241, 251, 251);
$note-certificate-color : rgb(105, 0, 0);
$Gray-certificate-color : rgb(236,236,236)