<div *ngIf="isFormSubmittedSuccessfully" class="fixed bottom-4 right-4 bg-success text-white px-4 py-2 rounded-md shadow-md z-50">
  <p>Message sent successfully!</p>
</div>

<form class="my-form" (ngSubmit)="resetPassword(resetPasswordData)" [formGroup]="resetPasswordData" >

  <input type="text" class="form-control" id="title" formControlName="userid" hidden>

  <div class="mb-3">
    <label for="title" class="form-label text-warning"> تغير الرقم السرى</label>
    <input type="password" class="form-control" id="title" formControlName="Password" [ngClass]="{'is-invalid': resetPasswordData.controls['Password'].errors && resetPasswordData.controls['Password'].touched}">
    <div *ngIf="resetPasswordData.controls['Password'].errors && resetPasswordData.controls['Password'].touched" class="invalid-feedback">
      <p>You must add the current password</p>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary button" [disabled]="!resetPasswordData.valid"> حفظ التغير </button>
    <button class="text-bg-danger button" (click)="bakePage()">  الرجوع للصفحة السابقة </button>
  </div>
</form>
