@import '../../Scss/Variable.scss';

table {
    position: absolute;
    bottom: 0;
    background-color: $Yellow-certificate-color;
    border-collapse: collapse;
    margin-bottom: auto;
    width: 100%;
    z-index: 4000;
    tbody
    {
        tr 
        {
            td 
            {
                border-top: 0.5mm solid $Blue-certificate-color;
                border-right: 0.5mm solid $Blue-certificate-color;
                padding-right: 1mm;
                line-height: 5mm;
                font-size: 16px;
                width: calc(100% / 2);
                &:last-child()
                {
                    border-right:0;
                }
            }
        }
    }
}
.blue 
{
    color: $Blue-certificate-color ;
}