<div>
  <div *ngIf="isFormSubmittedSuccessfully" class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded-md shadow-md z-50">
    <p>Message sent successfully!</p>
  </div>
  <form class="my-form" (ngSubmit)="changePassword(changePassordData)" [formGroup]="changePassordData" >

    <input type="text" class="form-control" id="title" formControlName="userid" hidden>

    <div class="mb-3 Theam">
      <label for="title" class="form-label text-yellow-400" >الرقم السرى الحالى</label>
      <input type="password" class="form-control" id="title" formControlName="CurrentPassword">
      <div *ngIf="changePassordData.controls['CurrentPassword'].errors && changePassordData.controls['CurrentPassword'].touched" class="alert alert-danger">
        <p>You Must Add Current Password</p>
      </div>
    </div>
    <div class="mb-3 Theam">
      <label for="title" class="form-label text-yellow-400">الرقم السرى الجديد</label>
      <input type="password" class="form-control" id="title" formControlName="NewPassword">
      <div *ngIf="changePassordData.controls['NewPassword'].errors && changePassordData.controls['NewPassword'].touched" class="alert alert-danger">
        <p>You Must Add New Password</p>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary button" [disabled]="!changePassordData.valid" >حفظ التغير </button>
      <button class="text-bg-danger button" (click)="bakePage()">  الرجوع للصفحة السابقة </button>
    </div>
</form>
</div>
