<div class="Main-page-home">
    <h1>تطبيق طباعة ومراجعة الشهادات الخاصة بالرفع   المساحى </h1>
<div>
    <div>
        <p>
            في إطار تنفيذ توجيهات السيد الرئيس عبد الفتاح السيسي، بالإسراع في اتخاذ كافة السبل التي تكفل وضع أحكام القانون رقم 9 لسنة 2022، الخاص بتعديلات قانون الشهر العقاري موضوع التنفيذ، وضمان توفير البيئة الملائمة لما حواه هذا القانون من تيسيرات واعدة لنظام الملكية خصوصا والاقتصاد المصري على وجه العموم. فقد حدد هذا القانون بيان الرفع المساحي الرقمي كأحد المستندات والأوراق المطلوبة لتوثيق عقار ، ويختص المركز التكنولوجى للتسجيل المساحى العقارى بإصدار شهادة رفع مساحى معتمدة ، مع العلم بأن تلك الشهادة لا تعتبر سند ملكية ولا يترتب عليها أي أثر قانوني.
        </p>
    </div>
    <img src="assets\Background\print.png" alt="" srcset="">
</div>
</div>
    <div class="Background" >
        <h1> تم أنشاء بواسطة شركة ايدج برو لنظم المعلومات الجغرافية </h1>
    <img src="assets\Background\EdgeProLogo.png" alt="" srcset="">
</div>