<div class="description">
    <div class="bulidingDesc">
        <p>نوع الاستخدام</p>
        <span>{{Data.usage}}</span>
    </div>
    <div class="bulidingDesc">
        <p >وصف المبنى</p>
      <span>{{Data.descrip}}</span>
    </div>
    <div class="bulidingDesc">
        <p>موقف تداخل المبنى</p>
        <span class="size">{{Data.usage}}</span>
    </div>
    <div class="buildingArea">
        <div>
            <p>
                مساحة الوحدة بدون منافع
                <br>
                بناءً على الرفع المساحى
            </p>
            <p>({{Data.areaAp1}})م2</p>
        </div>
    </div>
</div>
