.CertificateInformation {
    width: 406mm;
    min-width: 406mm;
    max-width: 406mm;
    height: 240mm;
    min-height: 240mm;
    max-height: 240mm;
    margin-top: 4mm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}