<div class="Instructions">
    <div class="InstructionsText">
        <h6>ملاحظات:</h6>
        <ul>
            <li>
                قام المواطن / <span class="blue">{{Data.name}}</span>
                (مقدم الطلب) بالارشاد عن <span class="blue">{{Data.unittype}}</span>
                لتقديمها لمامورية الشهر العقارى.
            </li>
            <li>
                تم اجراء الرفع المساحى دون اجراء بحث
                ملكية للمواطن وبناءً على طلبة دون أى
                مسئولية (مالية/قانونية).
            </li>
            <li>
                لاتعتبر الشهادة سنادً للملكية ولاتستخدم
                الا فى غرض التسجيل العقارى طبقًا لقانون
                9 سنة 2022.
            </li>
            <li>
                تعتبر الشهادة لاغية ولايعتد بها فى حالة
                الكشط او تغير اى بيانات مدونة عليها.
            </li>
            <li>
                تم الرفع المساحى مع الاحتفاظ بحق
                الارتفاق فى المرافق ومايخصها فى الارض
                والاجزاء المشتركة.
            </li>
            <li>
                تم اجراء الرفع المساحى باستخدام نظام
                المجسم البيضاوى العالمى (wgs84) ونظام
                الاسقاط (UTM).
            </li>
            <li>
                الرفع المساحى تم باستخدام الاجهزة
                المساحية الحديثة وأن اختلاف المسطحات بين
                (الرفع المساحى الرقمى والثابتة فى
                العقد/سند الملكية)نتيجة اختلاف اليات
                الرفع المساحى القديم والحديث وان ذلك
                لايوثر ولايغير فى ذاتية التعامل.
            </li>
            <li>
                هذة الشهادة لاتستخدم الا فى تسجيل <span class="blue">{{Data.unittype}}</span> فقط.
            </li>
        </ul>
    </div>
    <div class="InstructionsSgin"></div>
 