@import '../../Scss/Variable.scss';

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 45mm;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;

        div {
            display: flex;
            flex-direction: row;
            width: 100%;

            &:first-child {

                display: flex;
                flex-direction: row;

                .bulidingDesc {
                    display: flex;
                    flex-direction: column;
                    height: 20mm;
                    width: 50%;
                    border-left: 0.5mm solid $Blue-certificate-color !important;
                    border-top: 0.5mm solid $Blue-certificate-color;
                    text-align: center;
                    &:first-child 
                    {
                        width: 20%;
                    }
                    &:last-child 
                    {
                        width: 80%;
                    }
                    p {
                        border-bottom: 0.5mm solid $Blue-certificate-color !important;
                        background-color: $Yellow-certificate-color;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

        }
        
        .Tadakhl {
            display: flex;
            flex-direction: column;
            height: 25mm;
            p 
            {
                background-color: $Yellow-certificate-color;
                font-size: 14px;
                font-weight: bold;
                margin: 0;
                border-top: 0.5mm solid $Blue-certificate-color;
                border-left: 0.5mm solid $Blue-certificate-color;
                text-align: center;
            }
            div 
            {
                display: flex;
                flex-direction: row;
                .bulidingDesc {
                    display: flex;
                    flex-direction: column;
                    height: 19mm;
                    width: 50%;
                    border-left: 0.5mm solid $Blue-certificate-color !important;
                    border-top: 0.5mm solid $Blue-certificate-color;
                    text-align: center;

                    p {
                        border: 0;
                        border-bottom: 0.5mm solid $Blue-certificate-color !important;
                        background-color: $Gray-certificate-color;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

        }
    }

    .buildingArea {
        width: 67mm;
        height: 45mm;
        border-width: 1.5mm;
        border-color: $Blue-certificate-color;
        border-style: double;
        text-align: center;
        color: $Area-certificate-color;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            flex-direction: column !important;
        }
    }
}
